<ion-header>
    <ion-navbar>
        <ion-title>
            {{sourceTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="spinner">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>
    <ion-list *ngFor="let article of articleList.articles" (click)="openArticle(article.url)">
        <button class="item" ion-item="">
            <ion-thumbnail item-left>
                <img src="{{ article.urlToImage }}">
            </ion-thumbnail>
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
        </button>
    </ion-list>
</ion-content>